<menu class='portfolio hidden-sm'>
    <li>
        <a href='/' aria-current='page'>
            socialspec.org
        </a>
    </li>
    <li>
        <menu>
            <li>
                <a href='https://followspec.org'>
                    <span></span>
                    followspec.org
                </a>
            </li>
            <li>
                <a href='https://contactspec.org'>
                    <span data-color='green'></span>
                    contactspec.org
                </a>
            </li>
            <li>
                <a href='https://aboutspec.org'>
                    <span data-color='yellow'></span>
                    aboutspec.org
                </a>
            </li>
            <li>
                <a href='/blog'>
                    Blog · RSS
                </a>
            </li>
        </menu>
    </li>
</menu>
